body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; }

p {
  display: inline-block; }

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #303f9f;
  z-index: 10;
  height: 100vh;
  overflow: hidden; }
  .app__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1170px;
    width: 100%;
    height: 95vh;
    background-color: #fff;
    border-radius: 20px;
    z-index: 100; }
    @media only screen and (max-width: 1200px) {
      .app__inner {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        border-radius: 0; } }

.previous-requests {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px; }

.loading-bar {
  margin-top: 10%; }

.comments-wrapper {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto; }

.wrapper--input-button {
  margin-top: 20px;
  width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: space-between; }
